html {
    background-image: url("image/hatter.jpg");
}

fieldset {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    position: center;

    top: 200px;
}

#bejelentkezes{
    transition-duration: 0.4s;
    background-color: mediumseagreen;
    color: white;
    border: 2px solid mediumseagreen;
    border-radius: 4px;
    padding: 14px 40px;
    margin: 20px 20px;
    position: center;
    top: 200px;
}
#bejelentkezes:hover {
    background-color: transparent;
    color: black;
}

#kuldes{
    transition-duration: 0.4s;
    background-color: mediumseagreen;
    color: white;
    border: 2px solid mediumseagreen;
    border-radius: 4px;
    padding: 14px 40px;
    margin: 20px 20px;
    position: center;

    top: 500px;
}
#kuldes:hover {
    background-color: transparent;
    color: black;
}

#reset:hover {
    background-color: transparent;
    color: black;
}

#reset {
    background-color: darkred;
    transition-duration: 0.4s;
    color: white;
    border: 2px solid darkred;
    border-radius: 4px;
    padding: 14px 40px;
    position: center;
    left: 50%;
    top: 500px;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: black;
    border: 0;

}

